<p-scrollpanel styleClass="home-page-scroll-panel">
    <div class="flex flex-column gap-6">
        <p-toolbar styleClass="home-page-head" class="sticky top-0 z-1">
            <ng-template #start>
                <a [routerLink]="['/home']" class="logo-container">
                    <p-image [src]="'assets/images/angular_wordmark_' + (isDarkMode ? 'white' : 'black') + '.png'"
                        alt="logo" loading="lazy" imageClass="h-3rem"></p-image>
                </a>
            </ng-template>
            <ng-template #center>
                <div class="flex align-items-center gap-3">
                    <p-select [ngModel]="styleConfig?.theme" [options]="styleThemeOptions" optionLabel="label"
                        optionValue="value" [placeholder]="I18N_HEAD_STYLE_THEME_PLACEHOLDER" size="small"
                        (onChange)="listenStyleThemeChange($event.value)"></p-select>
                    <i class="pi pi-arrow-right-arrow-left"></i>
                    <p-select [ngModel]="styleConfig?.color" [options]="styleColorOptions" optionLabel="label"
                        optionValue="value" [placeholder]="I18N_HEAD_STYLE_COLOR_PLACEHOLDER" size="small"
                        (onChange)="listenStyleColorChange($event.value)"></p-select>
                    <i class="pi pi-arrow-right-arrow-left"></i>
                    <p-togglebutton [ngModel]="styleConfig?.darkMode" size="small" [onLabel]="I18N_HEAD_STYLE_MODE_ON"
                        [offLabel]="I18N_HEAD_STYLE_MODE_OFF" [onIcon]="'pi pi-moon'" [offIcon]="'pi pi-sun'"
                        (onChange)="listenStyleDarkModeChange($event.checked)"></p-togglebutton>
                    <i class="pi pi-arrow-right-arrow-left"></i>
                    <p-buttongroup>
                        <p-button [disabled]="localeOption === option.value" severity="contrast" size="small" outlined
                            (onClick)="handleChangeLocaleEvent(option.value)" *ngFor="let option of localeOptions">
                            <div class="flex align-items-center gap-2">
                                <span>{{ option.label }}</span>
                                <i class="pi pi-language" *ngIf="localeOption === option.value"></i>
                            </div>
                        </p-button>
                    </p-buttongroup>
                </div>
            </ng-template>
            <ng-template #end>
                <div class="flex gap-3">
                    <a [href]="githubHrefLink" target="_blank" pButton severity="contrast" size="small" rounded text
                        [pTooltip]="I18N_TOOLTIP_GITHUB" [showDelay]="1000" [hideDelay]="1000" tooltipPosition="bottom">
                        <i class="pi pi-github text-2xl"></i>
                    </a>
                    <p-button outlined severity="contrast" size="small" rounded text
                        [pTooltip]="I18N_TOOLTIP_USER_LOGIN" [showDelay]="1000" [hideDelay]="1000"
                        tooltipPosition="bottom" (click)="handleGoToLoginEvent()">
                        <i class="pi pi-user text-2xl"></i>
                    </p-button>
                </div>
            </ng-template>
        </p-toolbar>
        <ngx-home-intro-part></ngx-home-intro-part>
        <p-divider align="center"></p-divider>
        <ngx-home-func-part></ngx-home-func-part>
        <p-divider align="center"></p-divider>
        <ngx-home-tech-part></ngx-home-tech-part>
        <p-toolbar styleClass="home-page-foot">
            <ng-template #start>
                <div class="flex align-items-center gap-2">
                    <span class="logo-container">
                        <p-image [src]="'assets/images/angular_wordmark_' + (isDarkMode ? 'white' : 'black') + '.png'"
                            alt="logo" loading="lazy" imageClass="h-3rem"></p-image>
                    </span>
                    <div class="flex flex-column">
                        <span class="text-xs font-bold">{{ I18N_FOOT_COPYRIGHT }}</span>
                        <span class="text-xs font-bold">{{ I18N_FOOT_TECHNIQUE }}</span>
                    </div>
                </div>
            </ng-template>
            <ng-template #center>
                <div class="flex align-items-center gap-3">
                    <i class="pi pi-calendar-clock text-2xl"></i>
                    <span class="text-xl font-bold">{{ datetime$ | async }}</span>
                    <i class="pi pi-calendar-clock text-2xl"></i>
                </div>
            </ng-template>
            <ng-template #end>
                <div class="flex gap-3">
                    <a [href]="githubHrefLink" target="_blank" pButton severity="contrast" size="small" rounded text
                        [pTooltip]="I18N_TOOLTIP_GITHUB" [showDelay]="1000" [hideDelay]="1000" tooltipPosition="top">
                        <i class="pi pi-github text-2xl"></i>
                    </a>
                    <a [href]="primengHrefLink" target="_blank" pButton severity="contrast" size="small" rounded text
                        [pTooltip]="I18N_TOOLTIP_PRIMENG" [showDelay]="1000" [hideDelay]="1000" tooltipPosition="top">
                        <i class="pi pi-prime text-2xl"></i>
                    </a>
                    <a pButton severity="contrast" size="small" rounded text [pTooltip]="I18N_TOOLTIP_HELP"
                        [showDelay]="1000" [hideDelay]="1000" tooltipPosition="top">
                        <i class="pi pi-question-circle text-2xl"></i>
                    </a>
                </div>
            </ng-template>
        </p-toolbar>
    </div>
</p-scrollpanel>