<p-toolbar styleClass="main-page-header h-5rem">
    <ng-template #start>
        <a [routerLink]="['/home']" class="logo-container">
            <p-image [src]="'assets/images/angular_wordmark_' + (isDarkMode ? 'white' : 'black') + '.png'" alt="logo"
                loading="lazy" imageClass="h-3rem"></p-image>
        </a>
    </ng-template>
    <ng-template #end>
        <div class="flex gap-3">
            <p-button rounded severity="secondary" size="small" [pTooltip]="I18N_MAIN_TOOLTIP_SCROLL_TO_TOP"
                tooltipPosition="bottom" [showDelay]="1000" [hideDelay]="1000" (click)="handleScrollToTopEvent()">
                <ng-template pTemplate="icon"><i class="pi pi-arrow-circle-up text-3xl"></i></ng-template>
            </p-button>
            <p-button rounded severity="secondary" size="small" [pTooltip]="I18N_MAIN_TOOLTIP_PREFERENCE"
                tooltipPosition="bottom" [showDelay]="1000" [hideDelay]="1000" (click)="drawerVisible = true">
                <ng-template pTemplate="icon"><i class="pi pi-spin pi-cog text-3xl"></i></ng-template>
            </p-button>
        </div>
    </ng-template>
</p-toolbar>
<p-splitter [gutterSize]="2" [panelSizes]="[15, 85]" class="main-page-splitter" panelStyleClass="splitter-container"
    styleClass="h-full">
    <ng-template pTemplate="panel">
        <p-scrollpanel class="w-full h-full" styleClass="w-full h-full">
            <ng-template pTemplate="content">
                <p-tree [value]="nodes" class="w-full" styleClass="menu-tree {{ nodes.length === 0 ? 'h-full' : '' }}">
                    <ng-template pTemplate="default" let-node>
                        <p-button [label]="node.label" [severity]="matchNodeByKey(node) ? 'primary' : 'secondary'"
                            variant="text" styleClass="white-space-nowrap"
                            (click)="handleTreeNodeEvent(node)"></p-button>
                    </ng-template>
                    <ng-template pTemplate="empty">
                        <div class="flex flex-column justify-content-center align-items-center gap-3 w-full h-full">
                            <i class="pi pi-box text-6xl"></i>
                            <span class="font-bold">{{ I18N_MAIN_MENU_EMPTY_MESSAGE }}</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="togglericon" let-node>
                        @if (node) {
                        <i class="pi pi-minus-circle text-xl"></i>
                        } @else {
                        <i class="pi pi-plus-circle text-xl"></i>
                        }
                    </ng-template>
                </p-tree>
            </ng-template>
        </p-scrollpanel>
    </ng-template>
    <ng-template pTemplate="panel">
        <p-scrollpanel class="w-full h-full" styleClass="w-full h-full" #outletScrollPanel>
            <ng-template pTemplate="content">
                <router-outlet></router-outlet>
            </ng-template>
        </p-scrollpanel>
    </ng-template>
</p-splitter>
<p-drawer blockScroll [closable]="false" [dismissible]="false" position="right"
    transitionOptions="1250ms cubic-bezier(0.60, 0.00, 0.40, 1.00)" [(visible)]="drawerVisible"
    styleClass="main-page-drawer p-3" (onShow)="detectPreferenceDrawerShow()">
    <ng-template pTemplate="headless">
        <div class="flex flex-column gap-3">
            <div class="flex align-items-center gap-3">
                <span class="flex-auto text-2xl font-bold">{{ I18N_MAIN_DRAWER_TITLE }}</span>
                <p-button rounded severity="secondary" size="small" variant="text" [pTooltip]="I18N_MAIN_TOOLTIP_CLOSE"
                    tooltipPosition="bottom" [showDelay]="1000" [hideDelay]="1000" (click)="drawerVisible = false">
                    <ng-template pTemplate="icon"><i class="pi pi-times text-xl"></i></ng-template>
                </p-button>
            </div>
            <p-panel>
                <ng-template pTemplate="header">
                    <span class="text-xl font-bold">{{ I18N_MAIN_DRAWER_LABEL_STYLE }}</span>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3">
                        <p-button fluid [label]="I18N_MAIN_DRAWER_LABEL_CHANGE" severity="success" class="flex-auto"
                            (click)="handleChangeStyleEvent()"></p-button>
                        <p-button fluid [label]="I18N_MAIN_DRAWER_LABEL_DEFAULT" severity="warn" class="flex-auto"
                            (click)="handleDefaultStyleEvent()"></p-button>
                    </div>
                </ng-template>
                <div class="grid nested-grid">
                    <div class="col-2 flex align-items-center">{{ I18N_MAIN_DRAWER_LABEL_THEME }}</div>
                    <div class="col-10">
                        <p-selectbutton [ngModel]="styleConfig?.theme" [allowEmpty]="false"
                            [options]="styleThemeOptions" optionLabel="label" optionValue="value"
                            (onChange)="listenStyleThemeChange($event.value)"></p-selectbutton>
                    </div>
                    <div class="col-2 flex align-items-baseline">{{ I18N_MAIN_DRAWER_LABEL_COLOR }}</div>
                    <div class="col-10">
                        <div class="grid">
                            <div class="col-3 flex align-items-center gap-2" *ngFor="let option of styleColorOptions">
                                <p-radiobutton [ngModel]="styleConfig?.color" [inputId]="'id-color-' + option.value"
                                    [name]="option.value" [value]="option.value"
                                    (onClick)="listenStyleColorChange($event.value)"></p-radiobutton>
                                <label [for]="'id-color-' + option.value">{{ option.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 flex align-items-center">{{ I18N_MAIN_DRAWER_LABEL_MODE }}</div>
                    <div class="col-10">
                        <p-togglebutton [ngModel]="styleConfig?.darkMode" [onLabel]="I18N_MAIN_DRAWER_STYLE_MODE_ON"
                            [offLabel]="I18N_MAIN_DRAWER_STYLE_MODE_OFF" [onIcon]="'pi pi-moon'" [offIcon]="'pi pi-sun'"
                            (onChange)="listenStyleModeChange($event.checked)"></p-togglebutton>
                    </div>
                </div>
            </p-panel>
            <p-divider><b>{{ I18N_MAIN_DRAWER_LABEL_OR }}</b></p-divider>
            <p-panel>
                <ng-template pTemplate="header">
                    <span class="text-xl font-bold">{{ I18N_MAIN_DRAWER_LABEL_LOCALE }}</span>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3">
                        <p-button fluid [label]="I18N_MAIN_DRAWER_LABEL_CHANGE" severity="success" class="flex-auto"
                            (click)="handleChangeLocaleEvent()"></p-button>
                        <p-button fluid [label]="I18N_MAIN_DRAWER_LABEL_DEFAULT" severity="warn" class="flex-auto"
                            (click)="handleDefaultLocaleEvent()"></p-button>
                    </div>
                </ng-template>
                <div class="flex">
                    <p-selectbutton [ngModel]="localeConfig?.locale" [allowEmpty]="false" [options]="localeOptions"
                        optionLabel="label" optionValue="value" (onChange)="listenLocaleChange($event.value)">
                        <ng-template pTemplate="item" let-item>
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-language" *ngIf="item.value === localeConfig?.locale"></i>
                                <span>{{ item.label }}</span>
                            </span>
                        </ng-template>
                    </p-selectbutton>
                </div>
            </p-panel>
        </div>
    </ng-template>
</p-drawer>
<p-toast position="bottom-center">
    <ng-template pTemplate="headless" let-message>
        <p-message [icon]="message.icon" [severity]="message.severity" [text]="message.text"></p-message>
    </ng-template>
</p-toast>