.ngx-home-page {
    display: flex;

    .home-page-scroll-panel {
        width: 100vw;
        height: 100vh;
    }

    .home-page-scroll-top-button {
        bottom: 6rem;
        right: 3rem;
    }

    .home-page-head, .home-page-foot {
        height: 5rem;

        .logo-container {
            height: 3rem;

            .logo-image {
                height: 100%;

                &:hover {
                    filter: contrast(125%);
                }
            }
        }
    }

    .ngx-home-func-part, .ngx-home-intro-part, .ngx-home-tech-part {
        & > div {
            max-width: min(75%, 1920px);
        }
    }
}
